

.dashboard-div {
    height: 100vh;
   

   
}

.leftdash-div {
   position: relative;
  
}

.contains {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    margin-left: 15%;
   
    
    
}

.rightdash-div {
    
   
    margin:  0px 0px 0px 10px;
    height: 85vh;
    width: 30vw;
    position: relative;
    left: 5%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10%;
   
}

.content span {
    font-size: 30px;
}
.content p {
    font-size: 20px;
    margin-top: 10%;
}

.rightdash-div .heading{
      
    font-size: 22px;
}

.rightdash-div .content {
  
}





.cards-div {
     
  
     display: grid;
    
     grid-template-columns:  auto 1fr;;
  
     margin-right: 10%;
     width: 100%;
    
 
     
    
     place-self: center;
     gap: 10px;


}

.card-div {
    place-self: center;
    margin:10%;
    
    
}

