.sideBar-div{

    width: 18vw;
    height: 85vh;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4%;
    position: fixed;
   
    border-right: 2px solid  #ef8636;
  

}



.item {
    padding: 6px;
    width: 15vw;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #f8b865;
    color: white;
}

.item img {
    height: 4vh;
    margin-right: 10%;
}

.item-text {
    width: 8vw;
   
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
