.table-div {
   
    width: 100%;
    
    
  
}

.custom-table {
    width: 100%;
   
    
    text-align: left;
 
}

.custom-table th {
    padding: 8px;
    border-radius: 10px;
   
    border: 1px solid #ffe9c2;
}
.custom-table td {
  
  padding: 5px;
   
}

.custom-table th {
    background-color: #f39256; /* Header background */
    color: white; /* Header text color */
    font-weight: bold;
    text-transform: uppercase;
    
}





.custom-table tr:hover {

    background-color: #ffefe1; /* Hover effect */
}

.custom-table td {
    color: #333; /* Text color */
}

.custom-table tr td:first-child {
    font-weight: bold;
}
